@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--lexendFont);
}
:root{
    --mainBackground:  hsl(233, 47%, 7%);
    --cardBackground: hsl(244, 38%, 16%);
    --accent: hsla(277, 62%, 36%, 0.609);
    --transpWhite: hsla(0, 0%, 100%, 0.75);
    --semiTranspWhite: hsla(0, 0%, 100%, 0.6);
    --interFont : 'Inter', sans-serif;
    --lexendFont: 'Lexend Deca', sans-serif;
}
main{
    background-color: var(--mainBackground);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}
.card{
    background-color: var(--cardBackground);
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: .5rem;
    text-align: center;
}
.card__image{
    width: 100%;
    height: 30%;
    border-radius: .5rem .5rem 0 0;
    background-image: url(images/image-header-mobile.jpg);
    box-shadow: inset 0 0 0 1000px var(--accent);
    background-size: cover;
}
.card__headlight{
    padding: 1rem 0;
    font-size: 2rem;
    width: 80%;
}
.card__span {
    font-size: inherit;
    color: hsl(277, 64%, 61%);
}
.card_paragraph{
    width: 90%;
    padding: 1rem 1rem;
    line-height: 1.7rem;
    color: var(--transpWhite);
}
.card__stats{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.card__stats p{
    font-size: 1.8rem;
    font-family: var(--interFont);
    font-weight: 700;
    margin: 1rem 0;
    text-transform: uppercase;
}
.card__stats span{
    display: block;
    margin: .5rem 0;
    color: var(--semiTranspWhite);
    text-transform: uppercase;
}
@media screen and (max-width: 2100px){
    .card{
        width: 20%;
    }
}
@media screen and (max-width: 1200px){
    .card{
        width: 35%;
    }
}
@media screen and (max-width: 810px) {
    .card{
        width: 45%;
    }
    .card__headlight{
        margin: 2rem 0;
    }    
    .card__stats p{
        margin: 2rem 0;
    }
}
@media screen and (max-width: 480px) {
    .card{
        width: 80%;
    }
    .card__headlight{
        margin: 1.5rem 0;
    }    
    .card__stats p{
        margin: 1rem 0;
    }
}
